@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root'>Loading...</div>

@section scripts {
    <script src="~/dist/app.js" asp-append-version="true"></script>
    <script>
        window.stripeOptions = window.stripeOptions || {};
        window.stripeOptions.publishableKey = '@Configuration["Stripe:PublishableKey"]';
    </script>
}
